.container{
    width: 200px;
    height: 180px;
    background-color: rgb(0, 0, 0);
    margin: 2rem;
}

.content__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.service__icon{
    font-size: 4rem;
    padding: 10px;
    
}

.text__container{
    display: grid;
    text-align: center;
}

.text__container > p{
    padding: 2px 4px;
    font-size: 14px;
}
.text__container > h5{
 font-size: 1.2rem;
 text-transform: uppercase;
}